extends layout

block content
    .col-6
        form(method='POST' action='/users/change-pass/')
            div.body
                <div class="form-error">#{message}</div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="New Password" required="required"/>
                </div>
                <div class="form-group">
                    <input type="password" name="cpassword" class="form-control" placeholder="Confirm Password" required="required"/>
                </div>               
        
            div.footer                                                              
                button.btn.bg-olive.btn-block(type="submit") Change Password  
    </div>