<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Menang</title>
	<style>
		
	body{
		background: url(./img/splash_screen.jpg);
		background-repeat:  no-repeat;
		background-size:  cover;
		background-position: center;
		font-family: "georgia", verdana, arial;
	}

	</style>
</head>

<body>

	
	
	<div class="wrapper" style="margin: 0 auto;width: 760px;background-color: rgba(1,1,91,0.9);padding:10px 20px;">
	<div class="logo" style="text-align: center;">
	<img src="img/logo.png" style="width: 25%;">
	</div>
	<div class="otherPage">
	
				<h2 style="text-align: center;color: #ff2466; font-size:35px;margin-top:5px;">PRIVACY POLICY</h2>
            <div class="row">
                <div class="col">
					
                    <p style="color: #fff;">This privacy policy discloses the privacy practices for MENANG168. This privacy policy applies solely to information collected by this web site. It will notify you of the following: </p>

                    <ul>
                        <li style="color: #fff;">What personally identifiable information is collected from you through the web site, how it is used and with whom it may be shared.</li>

                        <li style="color: #fff;"> What choices are available to you regarding the use of your data.</li>

                        <li style="color: #fff;">The security procedures in place to protect the misuse of your information.</li>

                        <li style="color: #fff;"> How you can correct any inaccuracies in the information.</li>

                    </ul>



                    <h2 style="color: #ff2466;">Information Collection, Use, and Sharing </h2>

                    <p style="color: #fff;">
                        <t translate="privacy_7_1">We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.</t>
                        <br><br>
                        <t translate="privacy_7_2">We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order.</t>
                        <br><br>
                        <t translate="privacy_7_3">Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.</t>
                    </p>

                    <br>
                    <h2 style="color: #ff2466;"> Your Access to and Control Over Information </h2>

                    <p style="color: #fff;">
                        You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number given on our website:
                    </p>
                    <ul>
                        <li style="color: #fff;">See what data we have about you, if any.</li>
                        <li style="color: #fff;"> Change/correct any data we have about you.</li>
                        <li style="color: #fff;">Have us delete any data we have about you.</li>
                        <li style="color: #fff;">Express any concern you have about our use of your data.</li>
                    </ul>

                    <br>

                    <h2 style="color: #ff2466;">   Security </h2>
                    <p style="color: #fff;">
                    <t translate="privacy_15">We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.</t>
                    <br><br>
                    <t translate="privacy_16">Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a closed lock icon at the bottom of your web browser, or looking for "https" at the beginning of the address of the web page.</t>
                    <br><br>
                    <t translate="privacy_17">While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.</t>
                    </p>

                    <br>
                    <h2 style="color: #ff2466;">Updates</h2>
                    <p style="color: #fff;">
                        Our Privacy Policy may change from time to time and all updates will be posted on this page.

                    </p>

                    <h3 style="color: #fff;">
                        If you feel that we are not abiding by this privacy policy, you should contact us immediately via telephone via email.
                    </h3>
                </div>
            </div>
        </div>
	</div>

</body>

</html>